.page-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  justify-content: center; /* horizontally center the grid */
  gap: 2rem;
  max-width: 2000px;
  margin: auto;
}

.product-card {
  background-color: #fefcf8;
  border: 1px solid #d6a85c;
  border-radius: 10px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 360px;
  height: 540px;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
  transition: 0.4s ease;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 2rem;
}

.product-title {
  font-size: 1.1rem;
  color: #0c1f1a;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.product-price {
  color: #d6a85c;
  font-size: 1.05rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.product-description {
  font-size: 0.95rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.product-actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.details-button {
  margin-top: 1rem;
  padding: 0.4rem 0.9rem;
  width: 200px;

  background-color: #0c1f1a;
  color: #f7eddc;
  border: none;
  border-radius: 5px;
  
  font-size: 0.95rem;
  font-weight: bold;
  
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.details-button:hover {
  background-color: #165c47;
}

.add-cart-buttons{
  margin-top :1.2rem;
  justify-content: space-between;
  gap: 0.5rem;
}
.bag-image{
  margin-right: 0.5rem;
  color:#d6a85c;
  background-color: transparent;
}

.bag-image:hover{
  color:#F5E4B7;
  background-color: transparent;

}

.quantity-selector {
  margin-left: 0.5rem;
  width: 50px;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
}
