.product-page-container {
    margin-top: 4rem;
    padding: 2rem;
    font-family: Georgia, serif;
}

.product-image {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    margin-top: 1rem;
}

.product-description {
    margin-top: 1.5rem;
    font-size: 1.1rem;
}

.product-price {
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1.4rem;
}

.product-details {
    text-align: left;
    padding-top: 2rem;
    padding-left: 0;
}

.product-actions button,
.product-actions input{
    margin-top:2rem;
    text-align: left;
}

.product-actions button{
    background-color: #d6a85c;
    color: #0c1f1a;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    border: none;
    text-decoration: none;
    border-radius: 8px;
}




